:root{
  --main-window-color: lightgrey;
}

*{
  font-family: monospace;
}

#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window{
  background-color: var(--main-window-color);
  position: fixed;
  filter: drop-shadow(5px 5px 8px darkgrey);
  border-radius: 5px;
}

.window-head{
  width: 100%;
  height: 20px;
  background-color: grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-body{
  width: 600px;
  height: 380px;
  min-width: 150px;
  min-height: 100px;
  resize: both;
  overflow: auto;
  position: relative;
}

.window-fullscreen-transition{
  transition: all .2s;
}

.window-fullscreen{
  transition: all .2s;
  left: 0px !important;
  top: 0px !important;
  width: 100vw !important;
  height: 100vh !important;
  border-radius: 0px !important;
}

.window-fullscreen > .window-head{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.window-button-wrapper{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-button{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px;
}

.window-selected{
  z-index: 100 !important;
}

.term{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
  background-color: darkmagenta;
}

.term-cursor{
  animation: blink 1s steps(2, start) infinite;
  font-size: 24px;
}

@keyframes blink{
  to{visibility: hidden}
}

.term-text, .term-cursor{
  color: white;
}

.term-text-dir{
  color: aqua;
}

.term-username{
  color: limegreen;
}

.term-username, .term-text, .term-text-dir{
  font-size: 18px;
}
